.jumbotron {
  background-color: #fffa19;
  color: black;
  margin-top: 40px;
  margin-bottom: 10px; }

footer {
  padding: 10px 20px 0 10px;
  background-color: #fffa19;
  margin-top: 10px;
  margin-bottom: 0px; }

.card-hotel {
  flex: 1 250px;
  margin-top: 10px;
  margin-bottom: 0px; }

.btn-reserva {
  width: 100%;
  border-radius: 0px; }

.carousel {
  padding: 0px 0px 10px 0px; }

.footer-address-icon {
  padding-right: 10px; }

.tab-content {
  padding-top: 10px; }
