.breadcrumb {
  background-color: #fff000; }

.jumbotron {
  color: black;
  background-color: #078522;
  margin-top: 40px;
  margin-bottom: 10px; }

.navbar {
  background-color: #57151e; }

footer {
  padding: 10px 20px 0px 10px;
  background-color: #a3b8b2;
  margin-top: 10px;
  margin-bottom: 0px; }

.card-hotel {
  flex: 1 250px;
  margin-top: 10px;
  margin-bottom: 0px; }

.btn-reserva {
  width: 100%;
  border-radius: 0px; }

.carousel {
  padding: 0px 0px 10px 0px; }

.footer-address-icon {
  padding-right: 10px; }

.tab-content {
  padding-top: 10px; }

h1 {
  border: 15px solid #ddd; }
  h1:hover {
    border-color: #FFFF00; }
