$yellow: #fff000;
$verde: #078522;
$gris: #a3b8b2; 
$rojo:#57151e;

@mixin margenes($top, $bottom){
    margin-top: $top;
    margin-bottom: $bottom;
}

@mixin colordefondo($color){
	background-color: $color
}

@mixin espacios($arriba,$derecha,$abajo,$izquierda){
	padding: $arriba $derecha $abajo $izquierda;
}
.breadcrumb{
	@include colordefondo($yellow);
}   

.jumbotron {
	color: black;
	@include colordefondo($verde);
	@include margenes(40px, 10px )
}

.navbar{
	@include colordefondo($rojo)
}
footer {
	@include espacios(10px,20px,0px,10px);
	@include colordefondo($gris);
	@include margenes(10px, 0px )
}
.card-hotel {
	flex: 1 250px;
	@include margenes(10px, 0px )


}
.btn-reserva
{
	width: 100%;
	border-radius: 0px;
}

.carousel {
	@include espacios(0px,0px,10px,0px);
  }

.footer-address-icon {
	padding-right: 10px;
}
.tab-content{
	padding-top: 10px;
}
@mixin groso($width) {
	border: $width solid #ddd;
	&:hover {
		border-color: #FFFF00;
	}
}

h1 {
	@include groso (15px);
}
